#_______________________________________________________________________________
#                                                                    build files
build
build*
lib

#_______________________________________________________________________________
#                                                                    macOS files
.DS_Store

#_______________________________________________________________________________
#                                                                    CLion files
.idea

#_______________________________________________________________________________
#                                                              CLion build files
cmake-build-*

#_______________________________________________________________________________
#                                                                 QT build files
build-*
