# build files
build
build*
lib

# macOS files
.DS_Store

# CLion files
.idea

# Visual Studio Code files
.vscode

# CLion build files
cmake-build-*

# QT files
CMakeLists.txt.user

# QT build files
build-*
